<app-header title="Encabezados"></app-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button
      *ngFor="let category of newsCategories"
      value="{{category}}"
    >
      <ion-label>{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <app-news [articles]="articles"></app-news>
  </ion-list>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
